/*h2 {
  clear:both;
}

p, a {
  font-size:9pt;
  margin:10px 0 0 0;
  color:#3d3d3d;
}

a, a:visited {
  color:#427fed;
}

a:hover {
  color:#82afff;
}

ul li {
  list-style:none;
  overflow:hidden;
  border:1px solid #dedede;
  margin:5px;
  padding:5px;
}

ul li:hover {
  background-color:#f0f3fb;
}

.user {
  width:25%;
}



.timePosted {
  width:15%;
}

.user {
  clear:left;
}

.user a {
 width: 100px;
}

.user span span {
  width:100px;
  display:block;
  margin-top:10px;
}

.user img, .user a > span {
  float:left;
}

.interact {
  float:left;
  width:10%;
  margin-top:-7px;
}

.interact a {
  margin-left:5px;
  float:left;
}

.user a > span {
  margin-left:10px;
}

.media img {
  max-width:250px;
  max-height:250px;
}*/

body {
  overflow:hidden;
}

div.tweet {
  border:solid 4px #3fc0f6;
  padding:10px;
  margin-bottom:10px;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  width: 600px;
  margin-right: 50px;
  height:200px;
}

.TweetAuthor-name {
  display:none;
}

.TweetAuthor-screenName {
  font-size:20px;
  text-decoration: none;
  color: orangered;
  text-shadow: white 1px 1px;
}

a.TweetAuthor-link {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}



.tweet-and-image {
  display: flex;
  flex-direction: column;
  width:80%;
}

.image {
  padding-left:20px;
}

.content {
  padding-left:20px;
  font-size:30px;;
}

.author {
  width:20%;
}

.content a {
  font-size:30px;
  text-decoration: none;
  
}

.Emoji {
  width:20px;
}

img.tweetimage {
  width:300px;
}

div.incoming {
  width:50000%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;    
  height:50%;  
}

div.readyToGo {
  height:50%;
  width:700px;  
}

.low-index {
  z-index : 1;
}

div.lanes {
  display: flex;
  flex-direction: row;
  height:500px;
}